<nav class="navbar navbar-expand-lg navbar-dark navbar-static-top" role="navigation">
  <a class="navbar-brand" href="/#">
    <!-- <img src="../../images/grails.svg" alt="Logo" /> -->
  </a>
  <button class="navbar-toggler" type="button" (click)="navExpanded = !navExpanded" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="!navExpanded">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="statusDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="statusDropdown" ngbDropdownMenu>
          <a class="dropdown-item" href="#">Hola!</a>
        </div>
      </li>
    </ul>
  </div>
</nav>